@model Pokemon.Models.Trainer

@{
    ViewData["Title"] = "Trainer Edit";
}

<div class="container mt-5">
    <h3 class="text-center text-dark mb-4">@ViewData["Title"]</h3>
    <hr/>
    <form action="Edit" method="post" class="mx-auto" style="max-width: 600px;">
        <div class="mb-3">
            <input type="hidden" asp-for="Id"/>
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Surname</label>
            <input type="text" class="form-control" asp-for="Surname" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number" class="form-control" asp-for="Age" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Birthday</label>
            <input type="date" class="form-control" asp-for="Birthday" required/>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" asp-for="LegalAge" />
            <label class="form-check-label" for="LegalAge">Legal age</label>
        </div>

        <div class="text-center mt-4">
            <input type="submit" value="Submit" class="btn btn-dark btn-lg"/>
        </div>
    </form>
</div>
